{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de film</h1>

    <div class="row">
        {% for movie in movies %}
            <div class="col-4">
                <a href="{{ path('movie_show', { 'slug': movie.slug }) }}">
                    {#<img src="{{ asset('uploads/pictures/' ~ (movie.picture ?: 'default.png' )) | imagine_filter('thumb_show') }}">#}
                    <img src="{{ movie.pictureURL ?: 'uploads/pictures/default.png' }}">
                    <br>
                    {{ movie.title }}
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
